body {
  background-color: #F7F9FC;
  font-family: 'Roboto', sans-serif;
}


h1 {
  color: #2C3E50;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;

}

.custom-padding{
  padding: 0.5rem;
}

.custom-input {
  background-color: #FFFFFF;
  border: 1px solid #E1E8ED;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1rem;
  color: #2C3E50;
}

.custom-input:focus {
  outline: .5px solid #2980B9;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  ;

}


.custom-select:focus {
  background-color: #FFFFFF;
  border-color: #2980B9;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}



.custom-check input[type="checkbox"]:focus {

  background-color: #2980B9;
  border-color: #2980B9;

}

.custom-check input[type="checkbox"]:checked {
  background-color: #2980B9;
  border-color: #2980B9;

}


.task-box {
  border-radius: 5px;
  border: 1px solid #2980B9;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.task-text{
  max-width:fit-content;
        
word-break: break-word;       
               
overflow-wrap: break-word;
}